.env
my-agent-app
my-agent-app2
chroma_store
.idea
12-November/Tasks/projectey-c8a5ee32b7cd.json
12-November/Daily_Activity/client_secret_574651677693-3fm4c6h9q8g46b2qakkqvkmrl6a5gsil.apps.googleusercontent.com.json
12-November/Tasks/temp_temp_meeting.docx
13-November/projectey-c8a5ee32b7cd.json


